
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,#000,#002169);
    padding: 10px 5%;
    color: white;

    .logo{

        a{
            font-size: 24px;
            font-weight: 500;
            color: white;
            text-decoration: none;
        }
    }

    .menu{

        .items{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;

            .item{
                margin: 0 10px;

                &:last-child{
                    margin: 0 0 0 10px;
                }

                a{
                    color: white;
                    text-decoration: none;
                }

                button{
                    font-size: 15px;
                    color: white;
                    border: 0;
                    border-radius: 5px;
                    background-color: #007bff;
                    padding: 5px 10px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}