
<nav>
    <div class="logo">
        <a routerLink="/">Cinema</a>
    </div>
    <div class="menu">
        <ul class="items">
            <li *ngIf="isLogin" class="item">
                <a routerLink="/mi-lista">Mi lista</a>
            </li>
            <li *ngIf="!isLogin" class="item">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="isAdmin" class="item">
                <a routerLink="/dashboard">Dashboard</a>
            </li>            
            <li *ngIf="isLogin" class="item">
                <button (click)="logout()">Logout</button>
            </li>            
        </ul>
    </div>
</nav>