
<div class="section-form">
    <app-cinema-create (cinemaCreated)="readCinemaCreated($event)"></app-cinema-create>
</div>

<mat-card class="container">

    <div class="row-btn">
        
        <a routerLink="/dashboard">Regresar al dashboard</a>

        <div class="form" [formGroup]="formSearch">
            <mat-form-field>
                <input type="text" matInput formControlName="name" placeholder="Nombre">
            </mat-form-field>
            <button (click)="searchCinemas()" class="button">Búscar</button>
            <button *ngIf="activeSearch" (click)="clearSearchCinemas()" class="button">Limpiar búsqueda</button>
        </div>

    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Capacidad</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let cinema of cinemas | paginate: { itemsPerPage: 5, currentPage: actualPage }">
                <td><span>ID: </span> {{ cinema.id }}</td>
                <td><span>Nombre: </span> {{ cinema.name }}</td>
                <td><span>Capacidad: </span>{{ cinema.capacity }} personas</td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls 
            (pageChange)="actualPage= $event"
            previousLabel=""
            nextLabel=""></pagination-controls>
    </div>
    
</mat-card>
