
<div class="section-main">

    <div class="content-page">
        
        <div class="image">
            <img :src="{{ urlImages }}/{{ movie.image }}" alt="poster-{{ movie.name }}">
        </div>

        <div class="description">
            <div class="filter">
            </div>
            <div class="information">
                <div class="name">{{ movie.name }}</div>
                <div class="code"><span>Código:</span> {{ movie.code }}</div>
            </div>
            <div class="sinopsis-mobile">
                <div class="title">Descripción</div>
                {{ movie.description }}
            </div>            
        </div>
    </div>
    
</div>

<div class="content-page">

    <div class="sinopsis">
        <div class="title">Descripción</div>
        {{ movie.description }}
    </div>

    <div class="section-actions">
        
        <div class="title">Disfrute de esta película en la sala</div>

        <div class="cinemas">

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Capacidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr>
                        <td><span>Nombre: </span> {{ cinema.name }}</td>
                        <td><span>Capacidad: </span> {{ cinema.capacity }} personas</td>
                        <td>
                            <span>Acciones: </span>
                            <button (click)="addList()" class="button">Agregar <i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table> 

        </div>

    </div>
</div>