
.section-main{
    background: linear-gradient(90deg,#e6e6e6, #d8d8d8 );

    .content-page{
        display: flex;

        .image{
            position: relative;
            width: 25%;

            img{
                width: 100%;
                height: 100%;
                box-shadow: 0px 0px 0px 6px rgb(0 0 0 / 20%);
                border-radius: 5px;
            }
        }

        .description{
            position: relative;
            display: flex;
            align-items: flex-end;            
            background-image: url(https://files.rcnradio.com/public/styles/m_img_680x464/public/2020-06/sala_de_cine_9_0.png?lFdmCh6VgVC2DlbfNl2S7cFp2N05qe06&itok=A2letcPU);
            background-size: cover;
            width: 75%;

            .filter{
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgb(0 0 0 / 30%);                    
            }

            .sinopsis-mobile{
                display: none;
                margin-bottom: 20px;
                padding: 0 5% 5%;

                .title{
                    font-size: 22px;
                }
            }

            .information{
                z-index: 100;
                padding: 0 5% 5%;
                bottom: 50px;
                color: white;

                .name{
                    font-size: 32px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    text-transform: capitalize;
                }

                .code{
                    font-size: 22px;

                    span{
                        font-weight: 500;
                    }
                }
            }

        }

    }
}

.content-page{
    display: flex;
    justify-content: space-between;

    .sinopsis{
        width: 43%;
        padding: 0 1% 0 0;
        border-right: 3px solid #e6e6e6;

        .title{
            font-size: 26px;
            font-weight: 500;
            color: #002169;
            margin-bottom: 20px;
        }
        
    }

    .section-actions{
        width: 53%;

        .title{
            width: 100%;
            font-size: 26px;
            font-weight: 500;
            color: #002169;
            padding: 0;
            margin-bottom: 20px;
        }
        
        .cinemas{

            table{
                width: 100%;
                margin: 20px auto 5vh;
                border-spacing: 0;
            
                thead{
            
                    tr{
                        background: linear-gradient(90deg, #000, #002169);
                        color: white;
                        
                        th{
                            font-size: 15px;
                            padding: 5px;
                            font-weight: normal;                 
                        }
                    }
                }
            
                tbody{
            
                    tr{
            
                        td{
                            text-align: center;
                            padding: 10px 5px;
                            border-bottom: 1px solid #cece;    
                            
                            span{
                                display: none;
                                font-weight: 600;
                                width: 80px;
                                color: #002169;
                                margin-right: 10px;
                            }
        
                            img{
                                height: 75px;
                                width: auto;
                            }
        
                            a{
                                color: #fff;
                                background-color: #28a745;
                                border-color: #28a745;
                                padding: .375rem .75rem;
                                margin-right: 5px;
                                font-size: 16px;
                                line-height: 1;
                                border-radius: .25rem;
                                text-decoration: none;
                            }   
                            
                            .button{
                                color: #fff;
                                background-color: #007bff;
                                border-color: #007bff;
                                padding: .375rem .75rem;
                                font-size: 16px;
                                border: 0;
                                border-radius: .25rem; 
                                line-height: 1;
                                
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }        
                }
            }
                       
        }
    }
}

@media (max-width: 840px) {

    .content-page{

        .section-actions{
            width: 53%;
    
            .cinemas{
    
                table{
                
                    thead{
                        display: none;
                    }
                
                    tbody{
                
                        tr{
                            display: flex;
                            flex-direction: column;
        
                            &:nth-child(odd){
                                background: #e8e8e8;
                            }
                            
                            td{
                                width: 94%;
                                padding: 10px 3%;
                                display: flex;
                                align-items: center;
        
                                span{
                                    display: block;
                                }
                            }                  
                        }   
                    }
                }
                           
            }
        }        
    }
}


@media (max-width: 768px) {

    .section-main{

        .content-page{

            .image{
                width: 50%;
            }

            .description{
                background-size: 0;
                flex-direction: column;
                align-items: flex-start;                

                .filter{
                    display: none;
                }

                .sinopsis-mobile{
                    display: block;

                    .title{
                        margin-bottom: 10px;
                    }
                }

                .information{
                    color: #002169;
                    padding: 5%;

                    .name{
                        font-size: 22px;
                        margin-bottom: 10px;
                    }

                    .code{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .content-page{

        .sinopsis{
            display: none;
        }

        .section-actions{
            width: 100%;
        }
    }
}

@media (max-width: 500px) {

    .section-main{

        .content-page{
            flex-wrap: wrap;
            justify-content: center;

            .image{
                width: 65%;
            }

            .description{
                width: 100%;
                
                .information {
                    padding: 0;
                    margin: 30px 0 20px;
                }

                .sinopsis-mobile {
                    padding: 0;
                    margin-bottom: 25px;
                }
            }
        }
    }
}