
<div class="carousel-movies">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let movie of movies">
            <app-movie (movieAdded)="addMovie($event)" [movie]="movie" [carousel]="true"></app-movie>
        </ng-template>
    </owl-carousel-o>
</div>

