
.container{
    min-height: 80vh;
    width: 400px;
    margin: 10vh auto 0;

    .content-form{
        margin: 5vh auto;
        
        h1{
            text-align: center;
            margin-bottom: 20px;
        }
    
        form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .row{
                width: 100%;
                margin-bottom: 10px;
                
                input{
                    width: 95%;
                    padding: 3px 2.5%;
                }
    
                select{
                    width: 100%;
                    padding: 3px 2.5%;
                }
        
                button{
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                    height: 30px;
                    padding: .375rem .75rem;
                    margin: 0 auto;
                    font-size: 14px;
                    border: 0;
                    border-radius: .25rem;
                     
                    &:hover{
                        cursor: pointer;
                    } 
                }    
            }

            .row-btn{
                text-align: center;
            }
    
        }
    
        .message{
            width: 95%;
            margin: 1vh auto;
            padding: 5px 2.5%;
            color: #155724;
            background-color: #d4edda;       
        }

        .error-message{            
            color: #721c24;
            background-color: #f5c6cb;
        }

        .link{
            text-align: center;

            a{
                color: #007bff;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 500px) {

    .container{
        width: 90%;
    }
}