
<div class="content-form">
    
    <mat-card class="container container-form">
        
        <h1>Crear Película</h1>
        
        <form [formGroup]="formCreate" (ngSubmit)="create()">
    
            <mat-form-field class="row code">
                <input type="text" matInput formControlName="code" placeholder="Código">
                <div *ngIf="code.invalid && (code.dirty || code.touched)">
                    <mat-error *ngIf="code.errors.required">
                        El Código es requerido
                    </mat-error>
                </div>
            </mat-form-field>
    
            <mat-form-field class="row name">
                <input type="text" matInput formControlName="name" placeholder="Nombre">
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <mat-error *ngIf="name.errors.required">
                        Nombre es requerido
                    </mat-error>
                </div>   
            </mat-form-field>
            
            <mat-form-field class="row cinema_id">
                <mat-label>Seleccione una sala</mat-label>         
                <mat-select formControlName="cinema_id">
                    <mat-option *ngFor="let cinema of cinemas" [value]="cinema.id">
                      {{cinema.name}}
                    </mat-option>
                </mat-select>   
                <div *ngIf="cinema_id.invalid && (cinema_id.dirty || cinema_id.touched)" class="error">
                    <mat-error *ngIf="cinema_id.errors.required">
                        El campo sala es requerido
                    </mat-error>
                </div>          
            </mat-form-field>
            
            <div class="row row-image">
                <input type="file" formControlName="image" (change)="getImage($event)">
                <div *ngIf="image.invalid && (image.dirty || image.touched)">
                    <mat-error *ngIf="image.errors.required">
                        La Imagen es requerida
                    </mat-error>
                </div>                
            </div>

            <mat-form-field class="row row-description">
                <textarea 
                    matInput
                    formControlName="description"
                    placeholder="Descripción"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>
    
                    <div *ngIf="description.invalid && (description.dirty || description.touched)">
                        <mat-error *ngIf="description.errors.required">
                            La Descripción es requerida
                        </mat-error>
                    </div>                
            </mat-form-field>
            
            <div class="row show-image" style="text-align: center;">
                <img *ngIf="selectedFile" :src="{{ imageMin }}">
            </div>            
    
            <div class="row row-btn row-edit show-edit">
                <button>Crear</button>
                <a href="javascript: history.go(-1)" class="back">Regresar</a>
            </div>
        </form>

    </mat-card>

</div>