
<div class="content-form">

    <mat-card class="container container-form">

        <h1>Crear Sala</h1>
            
        <form [formGroup]="formCreate" (ngSubmit)="create()">
        
            <mat-form-field class="row">
                <input type="text" matInput formControlName="name" placeholder="Nombre">
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <mat-error *ngIf="name.errors.required">
                        El nombre es requerido
                    </mat-error>
                </div>   
            </mat-form-field>

            <mat-form-field class="row">
                <input type="number" matInput formControlName="capacity" placeholder="Capacidad">
                <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)">
                    <mat-error *ngIf="capacity.errors.required">
                        El nombre es requerido
                    </mat-error>
                </div>   
            </mat-form-field>        
        
            <div class="row row-btn row-edit">
                <button>Crear</button>
                <a href="javascript: history.go(-1)" class="back">Regresar</a>
            </div>
        </form>

    </mat-card>
    
</div>
