<div class="container">

    <mat-card class="content-form">

        <h1>Registrarse</h1>

        <form [formGroup]="formRegister" (ngSubmit)="register()">
    
            <mat-form-field class="row">
                <input type="email" matInput formControlName="email" placeholder="Email" />
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <mat-error *ngIf="email.errors.required">
                        Email es requerido
                    </mat-error>
                    <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                        El valor debe ser una dirección de correo electrónico válida.
                    </mat-error>
                </div>
            </mat-form-field>

            <mat-form-field class="row">
                <input type="password" matInput formControlName="password" placeholder="Contraseña" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <mat-error *ngIf="password.errors.required">
                        Password is required
                    </mat-error>
                </div>
            </mat-form-field>

            <div class="row row-btn">
                <button>Registarse</button>
            </div>
        </form>

        <div class="link">
            <a routerLink="/login">Login</a>
        </div>        

    </mat-card>

</div>