.content-page{
    display: flex;
    justify-content: space-between;

    .section-actions{
        width: 768px;
        margin: 0 auto;

        .title{
            width: 100%;
            font-size: 26px;
            font-weight: 500;
            color: #002169;
            padding: 0;
            margin-bottom: 20px;
        }
        
        .cinemas{

            table{
                width: 100%;
                margin: 20px auto 5vh;
                border-spacing: 0;
            
                thead{
            
                    tr{
                        background: linear-gradient(90deg, #000, #002169);
                        color: white;
                        
                        th{
                            font-size: 15px;
                            padding: 5px;
                            font-weight: normal;                 
                        }
                    }
                }
            
                tbody{
            
                    tr{
            
                        td{
                            text-align: center;
                            padding: 10px 5px;
                            border-bottom: 1px solid #cece;    
                            
                            span{
                                display: none;
                                font-weight: 600;
                                width: 80px;
                                color: #002169;
                                margin-right: 10px;
                            }
        
                            img{
                                height: 75px;
                                width: auto;
                            }
        
                            a{
                                color: #fff;
                                background-color: #28a745;
                                border-color: #28a745;
                                padding: .375rem .75rem;
                                margin-right: 5px;
                                font-size: 16px;
                                line-height: 1;
                                border-radius: .25rem;
                                text-decoration: none;
                            }   
                            
                            .button{
                                color: #fff;
                                background-color: #dc3545;
                                border-color: #dc3545;
                                padding: .375rem .75rem;
                                font-size: 16px;
                                border: 0;
                                border-radius: .25rem; 
                                line-height: 1;
                                
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }        
                }
            }
                       
        }
    }
}

@media (max-width: 840px) {

    .content-page{

        .section-actions{
            width: 90%;
    
            .cinemas{
    
                table{
                
                    thead{
                        display: none;
                    }
                
                    tbody{
                
                        tr{
                            display: flex;
                            flex-direction: column;
        
                            &:nth-child(odd){
                                background: #e8e8e8;
                            }
                            
                            td{
                                width: 94%;
                                padding: 10px 3%;
                                display: flex;
                                align-items: center;
        
                                span{
                                    display: block;
                                }
                            }                  
                        }   
                    }
                }
                           
            }
        }        
    }
}

@media (max-width: 768px) {

    .content-page{
        .section-actions{
            width: 100%;
        }
    }
}