<div class="banner">
    <app-carousel></app-carousel>
</div>

<div class="content-page">

    <div class="section-actions">
        
        <div *ngIf="movies.length > 0" class="title">Mi lista de películas</div>
        <div *ngIf="movies.length < 1" class="title">No hay películas en tu lista</div>

        <div class="cinemas">

            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Sala</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let movie of movies">
                        <td><span>Nombre: </span>{{ movie.name }}</td>
                        <td><span>Sala: </span>{{ movie.cinema.name }}</td>
                        <td>
                            <span>Acciones: </span>
                            <button (click)="delete(movie)" class="button">Eliminar <i class="fa fa-minus"></i></button>
                        </td>
                    </tr>                    
                </tbody>
            </table> 

        </div>

    </div>
</div>