
.container-form{

    .message-warning{
        color: #bf0000;
        font-size: 12px;
        line-height: initial;
        text-align: center;
        padding: 0 20px;
        margin-bottom: 10px;
    }

    .show-image{
        img{
            height: 125px;
        }
    }
}

@media (max-width: 500px) {

    .container-form{

        form {

            .message-warning{
                margin: 10px 0;
            }
        
            .row-image{
                order: 5;
                margin-top: 10px;
            }
        
            .row-description{
                order: 4;
            }
        
            .show-image{
                order: 6;
                img{
                    height: 145px;
                }                
            }

            .show-edit{
                order: 7;
            }
        }
    }    
}
