
<div class="banner">
    <app-carousel></app-carousel>
</div>

<div class="content-page">

    <div class="billboard">
        <h1 class="title">Cartelera</h1>
    
        <div class="list-movies">
            <div *ngFor="let movie of movies | paginate: { itemsPerPage: 8, currentPage: actualPage }" class="movie">
                <app-movie (movieAdded)="addMovie($event)" [movie]="movie" [carousel]="false"></app-movie>
            </div>   
        </div>

        <div class="pagination">
            <pagination-controls 
                (pageChange)="actualPage= $event"
                previousLabel=""
                nextLabel=""></pagination-controls>
        </div>
    </div>

</div>

<div class="content-space">
    <div class="content">
        <div class="middle">
            <div class="title">Disfruta de las mejores peliculas</div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.        
        </div>
    </div>
</div>

<div class="content-page">

    <div class="premieres">
        <h1 class="title">Ùltimos estrenos</h1>
    
        <div class="list-movies">
            <app-carousel-movies [movies]="movies" ></app-carousel-movies>
        </div>
    </div>

</div>