
.billboard{

    .title{
        width: 100%;
        font-size: 26px;
        font-weight: 500;
        color: #002169;
        padding: 0 1%;
        margin-bottom: 20px;
    }
    
    .list-movies{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    
        .movie{
            width: 23%;
            padding: 0 1%;
            margin-bottom: 20px;
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
    }
}

.premieres{

    .title{
        width: 100%;
        font-size: 26px;
        font-weight: 500;
        color: #002169;
        padding: 0 1%;
        margin-bottom: 20px;
    }    
}

.content-space{
    background: linear-gradient(90deg,#000,#002169);

    .content{
        font-size: 16px;
        text-align: center;
        color: white;

        .middle{
            width: 600px;
            margin: 0 auto;
            padding: 20px 15px 35px;

            .title{
                text-align: center;
                font-size: 26px;
                margin-bottom: 20px;
            }
        }    
    }

} 

@media (max-width: 991px) {
    .billboard{
        .list-movies{
            .movie{
                width: 29%;
                padding: 0 2%;
            }
        }
    }
        
}

@media (max-width: 768px) {
    .billboard{
        .list-movies{
            .movie{
                width: 46%;
                padding: 0 2%;
            }
        }
    }

    .content-space{
        .content{
            .middle{
                width: 100%;
                padding: 20px 0;
            }    
        }
    
    }    
}

