 
 .footer{
    background: linear-gradient(90deg,#000,#002169);
    padding: 30px 5% 20px;
    color: white;

    .content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 768px;
        margin: 0 auto;

        .col{
            width: 31%;
            padding: 0 1%;

            .title{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 15px;
                
                a{
                    color: white;
                    text-decoration: none;
                }
            }

            .menu{
                list-style: none;

                .item{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
        }

        .col-large{
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            width: 100%;
        }
    }
 }

@media (max-width: 840px) {

    .footer{

        .content{
            width: 100%;
        }
    }
}

@media (max-width: 600px) {

    .footer{
        .content{
            .col{
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
}