
<div class="footer">
    <div class="content">

        <div class="col">
            <div class="title">
                <a routerLink="/">Cinema</a>
            </div>
        </div>

        <div class="col">
            <div class="title">Legal</div>
            <ul class="menu">
                <li class="item">Términos y Condiciones</li>
                <li class="item">Política de Privacidad</li>
                <li class="item">Preguntas Frecuentes</li>
                <li class="item">Contáctanos PQRS</li>
            </ul>
        </div>

        <div class="col">
            <div class="title">Contacto</div>
            <ul class="menu">
                <li class="item">correo@contacto.com</li>
                <li class="item">(+57) 310 1234567</li>
                <li class="item"></li>
            </ul>            
        </div>

        <div class="col-large">
            © 2021 Cinema
        </div>

    </div>
</div>