
<div class="section-form">
</div>

<mat-card class="container">

    <div class="row-btn">
        
        <a routerLink="/dashboard">Regresar al dashboard</a>

        <div class="form" [formGroup]="formSearch">
            <mat-form-field>
                <input type="text" matInput formControlName="name" placeholder="Nombre">
            </mat-form-field>
            <button (click)="searchUsers()" class="button">Búscar</button>
            <button *ngIf="activeSearch" (click)="clearSearchUsers()" class="button">Limpiar búsqueda</button>
        </div>

    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Correo electrónico</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: actualPage }">
                <td><span>ID: </span> {{ user.id }}</td>
                <td><span>Correo electrónico: </span> {{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls 
            (pageChange)="actualPage= $event"
            previousLabel=""
            nextLabel=""></pagination-controls>
    </div>
    
</mat-card>
