<div class="content">
    <div mat-dialog-content class="description">
        ¿Esta seguro que desea borrar su selección?
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-button (click)="cancelar()" class="close">Cancelar</button>
        <button mat-button class="confirm" [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
    </div>
</div>