
.content{

    .description{
        font-size: 16px;
    }

    .actions{
        width: 100%;
        justify-content: center;

        .close{
            background: #d8d6d6;
        }

        .confirm{
            color: white;
            background: #28a745;
        }
    }
}