
<div class="container">

    <mat-card class="home-card">
        <div class="title">Cinema Dashboard</div>
        
        <div class="home-menu">
            <a routerLink="/salas">Salas</a>
            <a routerLink="/peliculas">Películas</a>
            <a routerLink="/usuarios">Usuarios</a>
        </div>

        <div class="information">
            Desde aquí puedes navegar por el Dashboard y poder realizar las respecivas acciones sobre las salas, usuarios y la películas.*
        </div>
    </mat-card>
    
</div>