
.container{
    width: 700px;
    margin: 10vh auto;

    .home-card{
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title{
            font-size: 45px;
            font-weight: 500;
            color: #002169;
            margin: 0 auto 4vh;
            text-align: center;
            line-height: initial;
        }
        
        .home-menu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto 8vh;
        
            a{
                font-size: 22px;
                color: black;
                margin: 0 10px;
                text-decoration: none;
                text-transform: capitalize;

                &:hover{
                    color: #002169;
                }
            }
        }

        .information{
            padding: 0 20%;
            font-size: 12px;
            text-align: center;
        }
    }
}

@media (max-width: 991px) {

    .container{
        width: 90%;
    }
}

@media (max-width: 500px) {

    .container{

        .home-card{
            height: auto;
            padding: 40px 16px;

            .title{
                font-size: 26px;
                margin: 0 auto 20px;
            }
            
            .home-menu{
                margin: 0 auto 30px;
                flex-direction: column;
            
                a{
                    font-size: 18px;
                    margin: 15px 20px;
                }
            }
    
            .information{
                padding: 0;
            }
        }
    }
}