
.content{
    margin-bottom: 20px;

    a{

        .image{
            position: relative;
    
            &:hover{
                .detail{
                    display: flex;
                }
            }
    
            img{
                width: 100%;
                border-radius: 5px;
            }
        
            .detail{
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                text-align: center;
                bottom: 5px;
                left: 0;
                height: 80%;
                width: 90%;
                padding: 13% 5%;
                border-radius: 5px;
                background-color: rgba($color: #000000, $alpha: 0.3);
    
                .sinopsis{
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                }

                .description{
                    color: white;
                    font-size: 14px;
                }
                
                a{
                    color: #002169;
                    background: white;
                    border-radius: 5px;
                    text-align: center;
                    padding: 5px 15px;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }

    .information{
        width: 90%;
        padding: 10px 6%;
        text-align: center;

        .name{
            font-size: 18px;
            font-weight: 500;
        }
    
        .code{
            font-size: 14px;

            span{
                font-weight: 500;
            }
        }
    }
}

.space{
    padding: 0 10px;
}

@media (max-width: 768px) {

    .content{
        a{
            .image{
                .detail{
                    display: flex;
                    height: auto;
                    padding: 5%;

                    .description,
                    .sinopsis{
                        display: none;
                    }
                }
            }
        }
    }    
}