
<mat-card>
    <div class="content" [ngClass]="{'space' : carousel}">
        <a [routerLink]="['/pelicula/', movie.id]">
            <div class="image">
                <img :src="{{ urlImages }}/{{ movie.image }}" alt="movie-poster-{{movie.name}}">
                <div class="detail">
                    <div class="sinopsis">
                        Sinopsis
                    </div>
                    <div class="description">
                        {{ movie.description | cutString }}
                    </div>
                    <a [routerLink]="['/pelicula/', movie.id]">Ver detalle</a>
                </div>
            </div>
        </a>
        <div class="information">
            <div class="name">{{ movie.name }}</div>
            <div class="code"><span>Código:</span> {{ movie.code }}</div>
        </div>
    </div>
</mat-card>