/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

html, body { height: 100%; background: #f9f9f9; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-page{
    width: 1140px;
    margin: 45px auto;
}

.content-space{
    width: 100%;

    .content{
        width: 1140px;
        margin: 0 auto;
        padding: 20px 15px;
    }
}

.section-form{
    width: 90%;
    padding: 35px 5%;
    background: #dbdfe7;

    .content-form{
        width: 768px;
        margin: 0 auto;
    
        h1{
            margin-bottom: 20px;
            border-bottom: 3px solid #ededed;
            padding-bottom: 10px;            
        }
        
        form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        
            .row{
                width: 45%;
                margin-bottom: 10px;
                
                input{
                    width: 95%;
                    padding: 3px 2.5%;
                }
        
                select{
                    width: 100%;
                    padding: 3px 2.5%;
                }
        
                button{
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;
                    height: 36px;
                    padding: .375rem .75rem;
                    font-size: 14px;
                    border: 0;
                    border-radius: .25rem;
                    margin-right: 15px;
        
                    &:hover{
                        cursor: pointer;
                    }
                }
                

                .ngx-mat-file-input{
                    flex-wrap: wrap;
                    height: auto;

                    input.mat-input-element{
                        width: 75%;
                    }

                    .mat-form-field-suffix{
                        top: 0;
                        width: 20%;

                        button{
                            height: 30px;
                            width: 100%;
                            font-size: 12px;
                            margin-right: 0;                            
                            
                            .mat-icon {
                                line-height: 1;
                            }
                        }
                    }

                    input.input-file{
                        width: 100%;
                    }

                }
            }
        
            .row-btn{
                width: 100%;
            }

            .row-edit{
                justify-content: flex-start !important;

                .back{
                    background: #001032;
                }
            }
        
        }
    
    }    
}

.container{
    min-height: 70vh;
    width: 768px;
    margin: 10vh auto;

    .row-btn{
        width: 100%;
        margin: 20px auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form{
            display: flex;
            justify-content: space-between;
            align-items: center;

            input{
                padding: 3px 0.25rem;       
            }

            .button{
                color: #fff;
                background-color: #007bff;
                border-color: #007bff;
                padding: 0.375rem 0.75rem;
                font-size: 16px;
                line-height: 1.5;
                border: 0;
                border-radius: 0.25rem;
                margin-left: 10px;

                
                &:hover{
                    cursor: pointer;
                }
            }
        }

        a{
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            padding: 0.375rem 0.75rem;
            margin-right: 5px;
            font-size: 16px;
            line-height: 1.5;
            border-radius: 0.25rem;
            text-decoration: none;
        }        
    }
    
    table{
        width: 100%;
        margin: 20px auto 5vh;
        border-spacing: 0;
    
        thead{
    
            tr{
                background: linear-gradient(90deg, #000, #002169);
                color: white;
                
                th{
                    font-size: 15px;
                    padding: 5px;
                    font-weight: normal;                 
                }
            }
        }
    
        tbody{
    
            tr{
    
                td{
                    padding: 10px 5px;
                    border-bottom: 1px solid #cece;    
                    
                    span{
                        display: none;
                        font-weight: 600;
                        width: 80px;
                        color: #002169;
                        margin-right: 10px;
                    }

                    img{
                        height: 75px;
                        width: auto;
                    }

                    a{
                        color: #fff;
                        background-color: #28a745;
                        border-color: #28a745;
                        padding: .375rem .75rem;
                        margin-right: 5px;
                        font-size: 16px;
                        line-height: 1;
                        border-radius: .25rem;
                        text-decoration: none;
                    }   
                    
                    .button{
                        color: #fff;
                        background-color: #dc3545;
                        border-color: #dc3545;
                        padding: .375rem .75rem;
                        font-size: 16px;
                        border: 0;
                        border-radius: .25rem; 
                        line-height: 1;
                        
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .image{
                    width: 65px;
                    text-align: center;
                }
                .name{
                    width: 150px;
                }

                .descripction{
                    width: 325px;
                }

                .actions{
                    width: 80px;
                }
            }        
        }
    }

    .pagination{
        display: flex;
        justify-content: center;
    }    
    
}

.container-form{
    margin: 0;
    min-height: auto;    
}


@media (max-width: 1200px) {

    .content-page{
        width: 90%;
    }

    .content-space{
        .content{
            width: 90%;
        }
    }    
}

@media (max-width: 840px) {

    .section-form{
        .content-form{
            width: 100%;
        }
    }

    .container{
        width: 90%;
        padding: 20px 5% !important;

        table{
            thead{
                display: none;
            }
            tbody{
                tr{
                    display: flex;
                    flex-direction: column;

                    &:nth-child(odd){
                        background: #e8e8e8;
                    }
                    
                    td,
                    image,
                    .name,
                    .descripction,
                    .image,
                    .actions{
                        width: 94%;
                        padding: 10px 3%;
                        display: flex;
                        align-items: center;

                        span{
                            display: block;
                        }
                    }                  
                }        
            }
        }        
    }

}

@media (max-width: 600px) {

    .container{
        .row-btn{
            flex-direction: column;
            .form{
                margin-top: 20px;
            }
        }

        .row-edit{
            flex-direction: initial;
        }
    }    
}

@media (max-width: 500px) {

    .section-form{
        .content-form{
            form{
                .row{
                    width: 100%;
                }
            }
        }
    }
}
