
<div class="image">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slide of slides">
            <img src="{{ slide.img }}" alt="banner">
        </ng-template>
    </owl-carousel-o>
</div>

