
<div class="section-form">
    <app-movie-create (movieCreated)="readMovieCreated($event)"></app-movie-create>
</div>

<mat-card class="container">

    <div class="row-btn">
        
        <a routerLink="/dashboard">Regresar al dashboard</a>
        
        <form class="form" [formGroup]="formSearch" (ngSubmit)="searchMovies()">
            <mat-form-field>
                <input type="text" matInput formControlName="movie" placeholder="Nombre">
            </mat-form-field>
            <button class="button">Búscar</button>
            <div *ngIf="activeSearch" (click)="clearSearchMovies()" class="button">Limpiar búsqueda</div>
        </form> 

    </div>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let movie of movies | paginate: { itemsPerPage: 5, currentPage: actualPage }">
                <td><span>ID: </span> {{ movie.id }}</td>
                <td><span>Código: </span> {{ movie.code }}</td>
                <td class="name"><span>Nombre: </span> {{ movie.name }}</td>
                <td class="descripction"><span>Descripción: </span> {{ movie.description | cutString }}</td>
                <td class="image">
                    <span>Imagen: </span>
                    <img :src="{{ urlImages }}/{{ movie.image }}" alt="movie-poster-{{movie.name}}">
                </td>
                <td class="actions">
                    <span>Acciones: </span>
                    <a [routerLink]="['/peliculas', movie.id]"><i class="fa fa-pencil"></i></a>
                    <button (click)="delete(movie)" class="button"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls 
            (pageChange)="actualPage= $event"
            previousLabel=""
            nextLabel=""></pagination-controls>
    </div>
    
</mat-card>
