
<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- <app-header [isUserLogin]="isUserLogin"></app-header>

<router-outlet (userLogin)="readUserLogin($event)"></router-outlet>

<app-footer></app-footer> -->